.button{
    -fx-font-weight: bold;
}

#title {
    -fx-font-weight: bold;
    -fx-underline: false;
    -fx-font-size: 35;
}

#optionalText {
    -fx-font-weight: bold;
    -fx-underline: false;
}

.root{
    -fx-font-family: "nexa light";
}